@model IEnumerable<ClinicSoft.ServerModel.BillingModels.PatientBillsVM>;
@{
    Layout = "_Layout";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Patient bills</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">details</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Bill Detail for @ViewBag.BillUser</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-md-12">
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <div class="info-box bg-light">
                                    <div class="info-box-content">
                                        <span class="info-box-text text-center text-muted">Visits</span>
                                        <span class="info-box-number text-center text-muted mb-0">2300</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="info-box bg-light">
                                    <div class="info-box-content">
                                        <span class="info-box-text text-center text-muted">LP NO</span>
                                        <span class="info-box-number text-center text-muted mb-0">2000</span>
                                    </div>
                                </div>
                            </div>
                          
                        </div>

                        <!-- /.card -->

                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Bill Item List</h3>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">Paid items</h3>
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body">
                                            <table id="example1" class="table table-bordered">
                                        <thead>
                                            <tr>
                                                        <th>Date</th>
                                                        <th>ItemName</th>
                                                        <th>Total Amount</th>
                                                        <th>Quantity</th>
                                                        <th>Price</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                                    @foreach (var items in ViewBag.TransactionList)
                                                    {
                                                       
                                                            <tr>
                                                            <td>@items.PaidDate.ToString("MMM d, yyyy")</td>
                                                                <td>@items.ItemName</td>
                                                                <td>@items.TotalAmount </td>
                                                                <td>@items.Quantity</td>
                                                                <td>@items.Price</td>
                                                            </tr>
                                                        
                                                    }
                                              
                                           
                                        </tbody>
                                    </table>
                                </div>
                                
                            </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="card">
                                        <div class="card-header">
                                            <h3 class="card-title">Bordered Table</h3>
                                        </div>
                                        <!-- /.card-header -->
                                        <div class="card-body">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th style="width: 10px">#</th>
                                                        <th>Task</th>
                                                        <th>Progress</th>
                                                        <th style="width: 40px">Label</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>1.</td>
                                                        <td>Update software</td>
                                                        <td>
                                                            <div class="progress progress-xs">
                                                                <div class="progress-bar progress-bar-danger" style="width: 55%"></div>
                                                            </div>
                                                        </td>
                                                        <td><span class="badge bg-danger">55%</span></td>
                                                    </tr>
                                                   
                                                   
                                                   
                                                </tbody>
                                            </table>
                                        </div>
                                       
                                    </div>
                                </div>
                            </div>
                            <!-- /.card-header -->
                          @*  <div class="card-body">
                                     
                                <table id="example1" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>Item Name</th>
                                            <th>Quantity</th>
                                            <th>Amount</th>
                                            <th>Bill date</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                   
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                       
                                         @foreach (var listItems in @item.BillingTransactionItems)
                                        {
                                        <tr>
                                                    <td>@listItems.ItemName</td>
                                            <td>
                                                        @listItems.TotalAmount
                                            </td>
                                            <td>Win 95+</td>
                                            <td> 4</td>
                                                    <td class="project-actions text-right">
                                                        <a class="btn btn-primary btn-sm" href="#">
                                                            <i class="fas fa-folder">
                                                            </i>
                                                            View
                                                        </a>
                                                        <a class="btn btn-info btn-sm" href="#">
                                                            <i class="fas fa-pencil-alt">
                                                            </i>
                                                            Edit
                                                        </a>
                                                        <a class="btn btn-danger btn-sm" href="#">
                                                            <i class="fas fa-trash">
                                                            </i>
                                                            Delete
                                                        </a>
                                                    </td>
                                         </tr>
                                            }
                                        

                                        }
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>Item Name</th>
                                            <th>Quantity</th>
                                            <th>Amount</th>
                                            <th>Bill date</th>
                                            <th>Action</th>
                                        </tr>
                                    </tfoot>
                                </table>
                               
                            </div>*@
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                       
                    </div>
                    
                </div>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->

    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

